<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610487055303-93poadn6ievackmqap77anoj8eclpavu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610487055303-93poadn6ievackmqap77anoj8eclpavu</string>
	<key>API_KEY</key>
	<string>AIzaSyArE5rN0uOmeyL_A7gSOcYMEXOVzBaeRqA</string>
	<key>GCM_SENDER_ID</key>
	<string>610487055303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerHabit</string>
	<key>PROJECT_ID</key>
	<string>tracker-59470</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-59470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610487055303:ios:e201afe5e6437c4ec29fe2</string>
	<key>DATABASE_URL</key>
	<string>https://tracker-59470-default-rtdb.firebaseio.com</string>
</dict>
</plist>